@import "./primary";

.home-page-center {
  text-align: center;
}

.home-page-left {
  background-color: $primary-grey;
  padding-left: 3.8rem;
  padding-top: 1rem;
}

.home-user-img {
  width: 7rem;
  height: 7rem;
}

.home-user-name {
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  color: $white;
  padding-top: 1rem;
}

.home-left-row {
  padding-top: 1rem;
}

.home-button-green {
  background-color: $primary-green;
  border: 0.2rem solid $primary-green;
  color: $white;
  width: 6.7rem;
  height: 2.2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 0.5rem;
}

.home-left-text {
  color: $white;
  font-weight: bold;
  padding-top: 1rem;
  font-size: 1.2em;
}

.home-right {
  padding-top: 3rem;
  background-color: $white;
}

.home-right-title {
  font-size: 2rem;
  font-weight: bold;
  color: $primary-grey;
  padding-left: 1.8rem;
}

.add-feed-label {
  font-size: 1.2rem;
  color: $primary-grey;

  padding-top: 1rem;
}

.add-feed-input-title {
  height: 2rem;
  width: 45rem;
  border: 1px solid $secondary-grey;
}

.add-feed-input-content {
  height: 6rem;
  width: 45rem;
  border: 1px solid $secondary-grey;
}

.add-feed-row {
  padding-left: 2rem;
}

.add-feed-input-select {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.edit-profile-input-title {
  width: 30rem;
  height: 2rem;
  margin-left: 1rem;
  margin-top: 1rem;
  border: 1px solid $secondary-grey;
}

.edit-profile-leave-block {
  background-color: $primary-orange;
  border: 0.2rem solid $primary-orange;
  color: $white;
  height: 2.2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 0.5rem;
  white-space: nowrap;
  margin-bottom: 1rem;
}

.edit-profile-submit-button {
  background-color: $primary-green;
  border: 0.2rem solid $primary-green;
  color: $white;
  height: 2.2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 0.5rem;
  white-space: nowrap;
  margin-bottom: 1rem;
  margin-left: 1.3rem;
  margin-top: 0.6rem;
}
