@import "./primary";

.home-page-center {
  text-align: center;
}

.home-page-left {
  background-color: $primary-grey;
  padding-left: 3.8rem;
  padding-top: 1rem;
}

.home-user-img {
  width: 7rem;
  height: 7rem;
}

.home-user-name {
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  color: $white;
  padding-top: 1rem;
}

.home-left-row {
  padding-top: 1rem;
}

.home-button-green {
  background-color: $primary-green;
  border: 0.2rem solid $primary-green;
  color: $white;
  width: 6.7rem;
  height: 2.2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 0.5rem;
}

.home-left-text {
  color: $white;
  font-weight: bold;
  padding-top: 1rem;
  font-size: 1.2em;
}

.home-right {
  padding-top: 3rem;
}
